
body{
    font-family: 'Lora', serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.ttu{
    text-transform: uppercase;
}

.width60{
    width: 60px;
}

.width428{
    width: 428px !important;
}

.mt50{
    margin-top: 50px;
}

.mt20{
    margin-top: 20px;
}


/* Header */

.header{
    border-bottom: 1px solid #ccc;
}


/* Menu */

.menu{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 0;
}

.menu_item{
    display: flex;
}

.menu_li{
    list-style: none;
    padding: 0 5px;
}

.menu_link{
    text-transform: uppercase;
    text-decoration: none;
    color: #101010;
    font-size: 11px;
}

.menu_link:hover{
    border-bottom: 1px solid #101010;
}


/* Goods */

.goods{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.goods_item{
    max-width: 280px;
    margin: 0 10px 30px;
}

.goods_img{
    max-width: 280px;
}

.goods_info{
    margin-top: 3.5%;
}

.goods_buttons{
    display: flex;
    justify-content: space-around;
}

.goods_button{
    text-align: center;
    text-decoration: none;
}

/* Subsitle */

.subsitle{
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
}

.subsitle_link{
    text-decoration: none;
    color: #000;
}

/* Products */

.products{
    padding-top: 30px;
}

.product_item{
    display: flex;
    justify-content: space-between;
}

.product_img{
    width: 65%;
}

.product_image{
    width: 100%;
}

.product_info{
    width: 30%;
}

.product_text{
    display: flex;
}

.product_info_block{
    border-bottom: 1px solid #ccc;
}

.product_info_text{
    line-height: 21px;
    font-size: 11px;
    color: #757575;
}

/* Title */

.title{
    font-size: 15px;
}

.title_h2{
    margin: 40px 0 20px;
    font-size: 13px;
}

.product_btn{
    padding-top: 30px;
}


/* btn */

.btn{
   width: 40%;
   padding: 10px 0;

   background-color: #d99f9d;
   border: 1px solid #101010;

   color: #fff;
   text-transform: uppercase;
   font-size: 11px;
   font-weight: 700;

   cursor: pointer;
}

.btn:hover{
    background-color: #fff;
    color: #101010;
}

/* Reviews */

.reviews{
    margin: 70px 0;
}

.reviews_text{
    line-height: 19px;
    font-size: 12px;
}

.reviews_text_gray{
    color: #a8a8a8;
}

.reviews_item{
    border-bottom: 1px solid #ccc;
}


/* Form */

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_title{
    color: #101010;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.form_table{
    width: 400px;
}

.form_item{
    padding: 60px;
    border: 1px solid #101010;
    background-color: #faf7f2;
}

.form_input{
    padding: 15px 15px;
    margin: 32px 0 20px;

    border: 1px solid #101010;
    background-color: #fff;

    color: #101010;
    font-size: 11px;
    text-transform: uppercase;
}

.form_email{
    padding: 15px 39px 15px 15px;
}

.form_input input, .form_input textarea {
    border: 1px solid #fff;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

.form_input_text{
    display: flex;
}

.form_text{
    width: 329px;
}

.form_btn{
    padding: 15px 0;
    width: 100%;

    background-color: #d99f9d;
    border: 1px solid #101010;

    color: #101010;
    font-size: 12px;

    cursor: pointer;
}


/* Edit */

b.edit_width {
    display: inline-block;
    width: 60px;
}

.edit_input{
    margin-left: 20px;
    padding: 5px 15px;
}

.edit_buttons{
    display: flex;
}

.edit_btn{
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
}


/* Cart */

.cart, .register, .sign_in{
    padding-top: 70px;
}

.title_page{
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 40px;
    text-align: center;
}

.cart_description{
    padding: 12px;
    display: flex;
    justify-content: space-around;

    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.cart_description_title{
    padding: 0 10px;
    font-size: 11px;
    text-align: center;
}

.cart_item{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;

    border-bottom: 1px solid #ccc;
}

.cart_img, .cart_product_description, .cart_description_txt, .cart_item_btn{
    width: 120px;
}

.cart_product_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart_description_txt{
    font-size: 11px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_item_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_description_btn{
    display: inline-block;
    width: 70px;
    padding: 5px;

    background: #ccc;
    color: #fff;
    border: 1px solid #c9c9c9;

    cursor: pointer;
}

.cart_description_btn:hover{
    background-color: #d99f9d;
    border: 1px solid #d99f9d;
}

.cart_btn{
    width: 150px;
    padding: 12px;

    text-align: center;
    background: #d99f9d;
    border: 1px solid #d99f9d;
    color: #fff;
    font-size: 11px;

    cursor: pointer;
}

.cart_block{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}


/* Register */

.register_form_inputs{
    border-top: 1px solid #ccc;
}

.register_form_block{
    border-bottom: 1px solid #ccc;
}

.register_form_item{
    padding: 10px;
    width: 300px;
}

.refister_label{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.register_input{
    padding: 5px;

    border: 1px solid #d9d9d9;
    font-size: 12px;
}

.register_form_btn{
    margin: 30px 0;
    padding: 30px 0;
    display: flex;
    justify-content: flex-end;
}

.register_btn{
    padding: 12px;
    margin: 0 5px;
    display: inline-block;
    width: 120px;

    text-align: center;
    vertical-align: middle;
    background: #ccc;
    color: #fff;
    border: 1px solid #ccc;

    cursor: pointer;
}

.register_btn:hover{
    background: #d99f9d;
    border: 1px solid #d99f9d;
}